
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_MainLayoutLogin.cshtml";
}

<div class="login-box" style="width: 500px">
    <div class="login-logo mt-5">
        Please click the link sent to your email account to verify your email and continue the registration process.
    </div>
</div>



