
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutLogin.cshtml";
}

<div class="login-box" style="width: 500px">
    <div class="login-logo mt-5">
        <a href="#!">College Entrance Examination and UA Web Application</a>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg"></p>
            <div class="row subj_assessment">
                @*<div class="info-box mb-3 bg-info">
                        <span class="info-box-icon"><i class="far fa-comment"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text text-uppercase">Course Program</span>
                            <span class="info-box-number">Items</span>
                            <span class="info-box-number">Timer in minutes</span>
                        </div>
                    </div>*@
            </div>
        </div>
        <!-- /.form-box -->
    </div>
</div>

<script src="~/Scripts/Functions/Assessment.js"></script>
<script src="~/Scripts/Functions/AssessmentValidation.js"></script>

