
@{
    ViewBag.Title = "AcademicStrands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Academic  Strands</h2>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <input type="hidden" class="form-control" id="txtID" value="0">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="txtStrandName" placeholder="Strand Name">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-edit"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="txtStrandAbbrev" placeholder="Strand Abbreviation">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-edit"></span>
                </div>
            </div>
        </div>
        <div class="input-group">
            <button id="btnSave" type="button" class="btn btn-success mr-2">Save</button>
            <button id="btnCancel" type="button" class="btn btn-danger d-none">Cancel</button>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Strand Name</th>
                    <th>Abbreviation</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Strand Name</th>
                    <th>Abbreviation</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>


<script src="~/Scripts/Functions/AcademicStrandValidation.js"></script>
<script src="~/Scripts/Functions/AcademicStrand.js"></script>
